.header
{
    padding:0 5%;
    width:100%;
    height:110px;
    display:flex;
    background-color: #2478f4;
    position:fixed;
    top:0;
    z-index:1000;
}
.header__logo
{
    width:20%;
    height:100px;
    margin:7px 0;
}
.header__logo-desktop
{
    width:100%;
    height:100px;
}
.header__search
{
    width:59%;
    justify-content: center;
    align-items: center;
    display:flex;
    position: relative;
}
.header__info
{
    width:22%;
    color:#fff;
}
.header__info-cart
{
    margin-right:20px;
    font-size: 3rem;
}

.header__info-usericon
{
    margin-left:12px;
    margin-right:8px;
    font-size: 3rem;
}

.header__info-login
{
    font-size:2rem;
    font-weight: 500;
}
.header__info ul
{
    display:flex;
    list-style:none;
    justify-content: right;
    align-items: center;
    padding-left:0;
    margin-top:40px;
    margin: right 10px;;
}

.header__search {
    display: flex;
    justify-content: center;
    width: 59%;
}

.header__search-main {
    display: flex;
    align-items: center;
    position: relative;
    width: 70%;
}

.header__search-main input 
{
    width: 100%;
    padding: 10px 45px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.search-button 
{
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2478f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height:35px;
    width:55px;
}
.header__info a
{
    text-decoration: none;
    color: #fff;
}
.search-button:hover
{
    background-color:#6890cc;
}
.header__info a:hover,
.header__info-cart:hover
{
    color: rgba(255, 255, 255, 0.7);
}
.header__info-cart
{
    cursor: pointer;
}
.suggestions-list {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #eee;
}
.result-box
{
    position:absolute;
    top:70%;
    left:0;
    padding:0 12%;
}
.header__find-button
{
    font-size:2.3rem;
}