.footer 
{
    background-color: #f4f3f8;
    border-top: 1.8px solid #2679f3;
    padding-top: 14px;
    text-align: center;
    margin-right:0;
    width:100%;
}

.footer__heading
{
    font-size:1.9rem;
    text-transform:uppercase;
}

.footer-item-icon
{
    font-size:1.5rem;
}

.footer__logo-thanhtoan
{
    height:35px;
    width: 50px;
    margin:0 5px;
}

.footer-list-thanhtoan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}

.footer-list-baomat
{
    padding-left:0;
    list-style:none;
}

.footer__logo-baomat
{
    height:70px;
    width: 200px;
}

.footer__logo-baomat--congthuong
{
    width: 200px;
    height:85px;
}

.footer__list
{
    padding-left:0;
    list-style:none;
}

.footer-item_link
{
    text-decoration:none;
    font-size:1.4rem;
    color:#737373;
}

.footer-item_link:hover
{
    color:#2679f3;
}

.footer-item
{
    margin:11px 0;
    font-size:1.4rem;
}

.footer__second
{
    background: #e6e5ed;
    padding: 14px 0;
    margin-top:50px;
}

.footer__second-text
{
    margin:0;
    font-size:1.1rem;
}