@media screen and (max-width: 500px) 
{
    .slide
    {
        display: none;
    }
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        gap:12px;
    }
    .container_products-left
    {
        display:none;
    }
    .container_products-right
    {
        margin-top:60px;
        padding:10px 0;
        width:100%;
    }
    #filter-box-search
    {
        width:100%;
    }
    #search-title
    {
        line-height: 25px;
    }
}