
@media screen and (max-width:680px) 
{
    .container__product-content-left {
        width: 100%;
    }
    .container__product-content-right
    {
        width: 90%;
    }
    .container__product-content
    {
        display:block;
    }

    .container__product-buttom
    {
    display:block;
    }
    .container__product-slideshow {
        max-width: 100%;
        position: relative;
        overflow: hidden;
    }
    .contaier__product-right-buttom-flex
    {
        gap:5px;
    }
    .slide-image 
    {
        width: 100%;
        height: 465px;
        object-fit: cover;
        display: none;
    }
    .containter__product-right-buttom
    {
        margin-right:15px;
    }
    .containter__product-right-buttom-content-one-title-item
    {
        margin:0 15px;
    }
    .container__top
    {
        display:none;
    }
    .product
    {
        margin-top:140px;
    }
    .container__product-content-tinhtrang h1
    {
        line-height: 35px;
    }
    .containter__product-right-buttom-content-one-title-item p
    {
        font-size:1.4rem;
    }
    #filter-box
    {
        width:100%;
    }
}