.header__logo-mobile
{
    display:none;
}
@media screen and (max-width:680px) 
{
    .header
    {
        height:80px;
    }
    .header__logo-mobile
    {
        display:block;
        width:80%;
        margin-top: -5px;
    }
    .header__info-mobile
    {
        display:none;
    }
    .header__logo
    {
        width:20%;
    }
    .header__info ul
    {
        margin-top:25px;
    }
    .header__search-main
    {
        margin-right:15%;
    }
}