       .container-info
        {
            width: 100%;
            height: 1000px;
            background-color: #f3f4f6;
            margin:0;

        }
        .all-info-container
        {
            width:933.63px;
            height: 1080px;
            border-radius: 10px; 
            background-color: #ffffff;
            margin-left: 28%;
           margin-top: 110px;
        }
        .title
        {
            width:862.03px;
            height:28px;
            padding-top:20px;
            margin: 0 auto;
        }

        .title h3
        {
            font-size: 14px;
        }

        .chuathongtin
        {
        display: flex; /* dam bao can theo chieu ngang*/
        align-items: center; 
        margin-left: 32px; 
        margin-top:35px;
        padding: 10px;
        width: 92%; 
        height: 133px;
        display: grid;
        grid-template-columns: 1fr; /* mot cot */
        grid-template-rows: auto auto; /* hai hang */
        gap: 10px; /* khoang cach 2 hang */
        }
        .demuchang1
        {
            width:230.88px; /*width la chieu rong cua cai khung thoi*/
            height:70px; /* height la chieu cao cua cai khung thoi */
            margin:-5px;
            grid-row:1;
        }
        .demuchang2
        {
            width:230.88px; /*width la chieu rong cua cai khung thoi*/
            height:70px; /* height la chieu cao cua cai khung thoi */
            margin:-3.5px;
            grid-row:2;
        }
        .demucnho
        {
            width:140px;
            height:28px;
            padding-bottom:1px;
        }
        .thongtin
        {
            width:202.38px;
            height:28px;
            padding:3.5px;
        }

        .thongtin b
        {
            font-size : 14px;
        }
        .profile-section {
    display: flex;
    align-items: center;
    display: flex; /* dam bao can theo chieu ngang*/
    align-items: center; 
    margin-left: 32px; 
    margin-top:35px;
    padding: 10px;
    width: 95%; 
    height: 133px;
    gap: 20px; /* Khoảng cách giữa avatar và chi tiết */
}

.avatar img {
    border-radius: 50%; /* tao avatar hinh tron */
    width: 130px; /* kich co avatar */
    height: 130px;
}

.dividerdoc 
{
    width: 1px; /* do day cua thanh */
    height: 150px; /* chieu cao cua thanh */
    background-color: rgba(0, 0, 0, 0.1); /* mau voi do trong suot */
}

.divider_ngang_history
{
    width: 100%; /* Đặt chiều rộng 100% để thanh ngang chạy hết chiều rộng phần tử chứa nó */
    height: 1px; 
    background-color: rgba(0, 0, 0, 0.1); 
    margin: 20px 0; /* Khoảng cách trên và dưới cho thanh */
}

.divider_ngang_info
{
    position: relative; /*relative la cac phan tu xung quanh se bi anh huong boi no*/
    width: 92%; /* Đặt chiều rộng 100% để thanh ngang chạy hết chiều rộng phần tử chứa nó */
    height: 1px; 
    background-color: rgba(0, 0, 0, 0.1); 
    margin: 20px 0; /* Khoảng cách trên và dưới cho thanh */
    left:38px;
}

.details {
    font-size: 14px;
    color: #333;
}

.ochuacacmuckhac
{
position:absolute;
width:215.31px;
height:402px;
border-radius: 10px;
left: 150px; /*phai co position absolute thi moi su dung cai nay duoc*/
}

.muckhac /*class nay nam trong class "ochuacacmuckhac" nen chi can absolute va left cho class cha la dc*/
{
width:215.31px;
height:63px;
border-radius: 10px;
background-color: #ffffff;
padding-top:15px; /*can chinh text trong o*/
padding-left:60px;
margin-top:2px;
}

.changeavatar
{
    position: relative;
    width:150px;
    height:40px;
    background: #ffffff;
    color:#006eff;
    border-radius: 10px;
    margin-left:20px;
    top: -55px;
    border: 1px solid #9c9d9ec5;
}

.changeavatar b
{
     font-size: 14px;
}
.hinhnhobentrai
{
    position:absolute;
    width:15.5px;
    height:15.5px;
    left:20px;
}



/*form code*/
.form-container {
            width: 650px;
            /* chieu rong cua div */
            margin: 0 auto; 
        }
    .form-container label {
            display: inline-block;
            width: 150px;
            text-align: right;
            padding-right: 10px;
            font-size:14px;
        }

    .form-container input[type="text"], 
    .form-container select {
            width: 200px;
        }
    .form-container input[type="radio"] {
            margin-left: 10px;
        
        }
    .label {
            width: 150px;
            text-align: right;
            margin-right: -5px;
        }
    .row input {
            margin-left: 10px;
        }
    .form-container select {
            width: 200px;
        }
    .form-row {
            margin-bottom: 10px;
            margin-left:-130px;
        }
    .allow-name{
        width:100%;
        margin-bottom: 10px;
        margin-left: 75px;
        font-size: 13px;
    }
    .save-change
    {
    width:115px;
    height:40px;
    background: #006eff;
    color:#ffffff;
    border-radius: 10px;
    margin-top:7px;
    margin-left:165px;
    }
    .form-row label {
            align-items: center;
        }
        .checkbox-container {
    display: flex; /* Sử dụng Flexbox để căn chỉnh */
    align-items: center; /* can giua theo chieu doc */
    margin: 10px 0; /* Khoảng cách giữa các checkbox */
}

.form-check-input
{
    position:relative;
    width: 18px; /* Hoặc giá trị bạn muốn */
    height: 18px; /* Hoặc giá trị bạn muốn */
    left:3px;
    top:8px;
}
.form-check-label {
    width: 500px; /* Bây giờ có thể tăng chiều rộng */
}

.avatar b
{
    font-size:14px;
}

.form-check h3
{
    font-weight:bolder; 
    margin-left: 30px; 
    margin-top:-13px;
}

.form-row input
{
    border-radius: 5px; /* Bo góc */
    width: 100%;         /* Chiều rộng chiếm 100% */
    height: 40px;        /* Chiều cao 40px */
    padding: 0 10px;     /* Thêm khoảng cách bên trong ô input (tuỳ chỉnh) */
    box-sizing: border-box;
}












/* lich su don hang */

.sort-history
{
    width:799.05px;
    height:70px;
    margin-top: 75px;
    margin-left:28px;
    padding: 7px;
    display: grid;
    grid-template-columns: 1fr; /* mot cot */
    grid-template-rows: auto auto; /* hai hang */
    gap: 13px; /* khoang cach 2 hang */
}

.small-search-box-row1-id
{
    width:182.26px;
    height:42px;
    padding: 19px 14px 0px;
    margin-top:10px;
    border-radius: 10px;
    border: 1px solid #9c9d9ec5;
    box-sizing: border-box;
    grid-row:1;
}
.small-search-box-row1-amount
{
    width:116.84px;
    height:42px;
    padding: 19px 14px 0px;
    margin-top:10px;
    border-radius: 10px;
    border: 1px solid #9c9d9ec5;
    box-sizing: border-box;
    grid-row:1;
}
.small-search-box-row1-date
{
    width: 139.55px;
    height:42px;
    padding: 19px 14px 0px;
    margin-top:10px;
    border-radius: 10px;
    border: 1px solid #9c9d9ec5;
    box-sizing: border-box;
    grid-row:1;
}
.sort-button
{
width:103px;
height:42px;
background: #006eff;
color:#ffffff;
border-radius: 10px;
margin-top:10px;
grid-row:1;
}



.all-info-container-history-bottom
{
    width:860.05px;
    height: 77%;
    margin-left : 38px;
    border-radius: 10px; 
    background-color: #ffffff;
    border: 1px solid #9c9d9ec5;
    box-sizing: border-box;
    
}

.all-info-container-history-bottom th
{
    height: 5%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
  }

th
  {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
  }

td
  {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 14px;
  }

tr
  {
    height: 5%;
    text-align: center;
  }

  .all-info-container-history-bottom table
  {
    width: 100%;
     height: 100%;
  }

  /*Mobile: width < 740px */
  @media only screen and (max-width: 1000px)
  {

    
    .header
    {
        width:1500px;
    }

    .container
    {
        height:1000px;
    }

    .all-info-container
        {
            width:90%;
            height:auto;
            margin-left:215px;
            padding:20px;
            box-sizing: border-box;
        }

        .thongtin
        {
            width:100%;
            height:100px;
            padding-top:15px;
        }
    .ochuacacmuckhac
    {
        flex-direction: column;
        margin-left:-150px;
        width:5%;
    }
    
    .demuchang2
    {
        font-size:20px;
        padding:10px;
    }

    .chuathongtin
    {
        flex-direction: column;
        padding:40px;
    }

    .profile-section
    {
        width:1200px;
        height:auto;
        font-size: 25px;
        font-weight: 500px;
        margin-top:200px;
    }

    .footer
    {
       width:1500px;
       margin-top:250px;
    }
    

    .form-container {
        width: 100%;
        margin-left: 0;
        padding-left:150px;
        margin-top:50px;
    }

  }



  .menu-item {
    cursor: pointer; /* Khi trỏ vào sẽ hiện con trỏ dạng bàn tay */
  }

  